.des-works__page-priceList-table {
  margin-top: 40px;
  width: 100%;

}

.dsWp-prList__table-list__item {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  gap: $gutter;
}

.dsWp-prList__table-header {
  margin-bottom: 20px;
  gap: $gutter;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.dsWp-prList__table-title {
  max-width: 335px;
  @include fontz('Montserrat', 600, 18px, normal);
  color: #fff;

}

.dsWp-prList__table__subHdrIn {
  @include fontz('Montserrat', 400, 18px, normal);
  color: #fff;
}

.dsWp-prList__table-td {
  margin-right: 100px !important;
}

.dsWp-prList__table-list {
  margin-top: 40px;
}

.dsWp-prList__table-list__item {
  margin-bottom: 20px;
}

.dsWp-prList__table-list__item-text {
  width: 100%;
  @include fontz('Montserrat', 300, 15px, normal);
  color: #fff;
}

.pricePolicy-swiper__controls-block {
  display: flex;
  align-items: center;
}

.custom-pricePolicy-swiper-fraction {
  margin: 0 10px;
  @include fontz('Montserrat', 400, 15px, normal);
  color: #fff;
}

.pricePolicy-swiper__pag-count {
  font-size: 20px;
}

.pricePolicy-swiper-button-prev, .pricePolicy-swiper-button-next {
  font-size: 30px;
  color: #fff;
}

.pricePolicy-swiper-button-prev.swiper-button-disabled, .pricePolicy-swiper-button-next.swiper-button-disabled {
  color: #636e72
}

.des-works__mobile-privePolicy {
  background-color: $mBlack;
}

.des-works__mobile-privePolicy__block {
  padding: $gutter;
}

.des-works__mobile-privePolicy__accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.des-works__mobile-privePolicy__accordion-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.des-works__mobile-privePolicy__accordion {
  margin-top: 40px;

  .dsWp-prList__table-list__item, .dsWp-prList__table-header {
    grid-template-columns: 4fr 1fr 1.7fr;
  }
}

.des-works__mobile-privePolicy__accordion-item__header-title {
  @include fontz('Montserrat', 600, 18px, normal);
  color: $mGreen;
}

.desWorks-pp__accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all .4s cubic-bezier(0,1,0,1);
}

.desWorks-pp__accordion-content.active {
  height: auto;
  max-height: 9999px;
  transition: all .4s cubic-bezier(1, 0, 1, 0);
}

.dswp-insurance__list-block {
  margin-top: 70px;
}

.dswp-insurance__list {
  display: flex;
  flex-direction: column;
}

.dswp-insurance__list-item__title {
  @include fontz('Montserrat', 600, 20px, normal);
  margin-bottom: 15px;
}

.dswp-insurance__list-item__text {
  margin-bottom: 5px;
  max-width: 700px;
  @include fontz('Montserrat', 400, 18px, normal);
}

.dswp-agreement__body {
  padding: $gutter;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dswp-agreement__section {
  position: relative;
}

.dswp-agreement__title {
  width: fit-content;

  img {
    margin-left: 15px;
  }
}

.dswp-agreement__text {
  max-width: 520px;
  @include fontz('Montserrat', 400, 18px, normal);
}

.dswp-agreement__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .6);
  right: 0;
  z-index: -1;
}

.dswp-agreement__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.dswp-loadAgr__btn-block {
  //align-self: end;
}

.dswp-loadAgr__btn {
  width: 100%;
  max-width: 225px;
}

.dswp-agreement__wrap {
  gap: $gutter;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
}

.dswp-agreement-info__block {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//form styles

.dswp-form__wrap {
  display: flex;
  min-height: 570px;
}

.dswp-form__body {
  width: 100%;
  padding: $gutter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dswp-form__bg-block {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.dswp-form__section {
  min-height: 550px;
  position: relative;
}

.dswp-form {
  position: relative;
  max-width: 600px;
}