.portfolio-work__head-section {
  position: relative;

  .container {
    height: 100%;
  }
}

.portfolio-work__details-block {
  height: 100%;
  padding: 50px 0;
}

.portfolio-work__details-titles__group {
  padding: 0 $gutter;
}

.portfolio-work__head-bg {
  @extend %section-bg;
  display: none;
}

.portfolio-work__details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-work__head-overlay {
  @extend %section-overlay;
  display: none;
}

.portfolio-work__details-subTitle {
  @include fontz('Montserrat', 600, 20px, normal);
  color: $mGreen;
  margin-top: 30px;
  display: block;
}

.portfolio-work__details-main__img-block {
  margin-top: 60px;

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.portfolio-work__details-info {
  padding: 0 $gutter;
  margin-top: 60px;
}

.portfolio-work__details-info__text {
  color: #fff;

  .portfolio-work__details-info__title {
    margin-bottom: 20px;
    @include fontz('Montserrat', 600, 20px, normal);
  }

  .portfolio-work__details-info__text {
    @include fontz('Montserrat', 400, 16px, normal);
  }
}

.portfolio-work__mainImg-block {
  img {
    position: relative;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

.portfolio-work__mainGallery-list__block {
  padding-top: $gutter;
  background: $mBlack;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gutter;
}


.portfolio-work__mainGallery-list__item {
  height: 500px;

  img {
    height: 100%;
    width: 100%;
  }
}

.portfolio-work__secondGallery-list__block {
  padding-top: $gutter;
  background: $mBlack;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gutter;
}

.portfolio-work__secondGallery-list__item {
  height: 800px;

  img {
    height: 100%;
    width: 100%;
  }
}

.portfolio-work__form-section {
  position: relative;
  min-height: 400px;
  height: 100%;

}

.portfolio-work__form-bg {
  @extend %section-bg;
}

.portfolio-work__form-overlay {
  @extend %section-overlay;
}

.portfolio-work__form-block {
  padding: 50px $gutter;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gutter;
}

.portfolio-work__form-text {
  margin-top: 25px;
  @include fontz('Montserrat', 400, 18px, normal);
  color: #fff;
}

.portfolio-work__form {
  width: 100%;
  max-width: 450px;
}

.portfolio-work-form-input-wrap {
  color: #fff;

  .custom-input {
    color: #fff;
    border-bottom-color: #fff;
  }
}

.portfolio-work__form-btn {
  width: 250px;
}