.aboutUs-page__benefits-list__section {
  min-height: 400px;
  background-size: cover;
  position: relative;
}

.aboutUs-page__benefits-sec__body {
  padding: 60px $gutter;
}

.aboutUs-page__benefits-title {
  width: 100%;
  max-width: 80%;
}

.aboutUs-page__benefits-list {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}


//about page swipers section styles

.abtP-swiper__sec {
  position: relative;
  //height: 100%;
}

.abtP-swiper__sec-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.abtP-swiper__sec-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.abtP-swiper__sec-body {
  padding: 60px $gutter;
}

.abtP-swSec-articleSwiper-wrap {
  margin-top: 50px;
}

///// our team section styles

.our-teamSec__body {
  display: grid;
  gap: $gutter;
  padding: 50px $gutter;

}

.our-teamSec__team-info__block {
  gap: 10px;
  display: grid;
}

.our-teamSec__sideImg-block {
  grid-row: 2;
  img {
    height: 100%;
    width: 100%;
  }
}

.our-teamSec__team-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-teamSec-title {
  display: none;
  margin-bottom: 40px;
}

.our-teamSec__team-list {
  display: none;
}

.our-teamSec-tagline__askQ-btn {
  margin-top: 40px;
  @include fontz('Montserrat', 600, 15px, normal);

  img {
    margin-left: 10px;
  }
}

.our-teamSec-clone__title {
  display: block;
}

.our-teamSec__clone-team-tagline__block {
  display: none;
}

.our-teamSec__tagline {
  @include fontz('Montserrat', 400, 18px, normal);
}

.our-teamSec-teamHead {
  @include fontz('Montserrat', 600, 20px, normal);
  text-underline-offset: 10px;
  text-decoration: underline 1px $mGreen;
}

.our-teamSec-teamHead__subTitle {
  display: block;
  margin-top: 11px;
  @include fontz('Montserrat', 300, 15px, normal);
}

.our-teamSec__team-list {
  margin-top: 20px;
}

.our-teamSec__team-list__item {
  margin-bottom: 30px;
  @include fontz('Montserrat', 300, 20px, normal);

  &[data-last='true'] {
    margin-bottom: 0;
  }
}

.mobile-members__list-item__img {
  width: 100%;
  height: 330px;
  margin-bottom: 40px;
}

.mobile-members__list-item {
  margin-bottom: 50px;

  .mobile-members__list-item__name {
    @include fontz('Montserrat', 600, 20px, normal);
    margin-bottom: 10px;
  }

  .mobile-members__list-item__position {
    margin-bottom: 25px;
    @include fontz('Montserrat', 300, 15px, normal);
  }

  .mobile-members__list-item__tagline {
    @include fontz('Montserrat', 300, 18px, normal);
  }
}

/// contacts section styles

.aboutP-contacts__body {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .custom-container {
    padding: 50px $gutter;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
}

.aboutP-contacts__sideImg-block {
  picture {
    height: 100%;
    width: 100%;
  }
}

.aboutP-contacts__sideImg-tablet {
  width: 100%;
  height: 100%;
  max-height: 650px;
}

.aboutP-contacts__block {
  margin-top: 40px;
}

.aboutP-contacts__table {
  margin-top: 15px;

}

.aboutP-contacts__subTitle {
  @include fontz('Montserrat', 600, 20px, normal);
}

.aboutP-contacts__table-title {
  border-collapse: separate;
  padding-right: 20px;
  @include fontz('Montserrat', 600, 18px, normal);
}

.aboutP-contacts__table-text {
  display: block;
  @include fontz('Montserrat', 400, 18px, normal);
}

.aboutP-contacts__footer {
  margin-top: 40px;
}

.aboutP-contacts__cooprTitle {
  margin-bottom: 10px;
  @include fontz('Montserrat', 600, 20px, normal);
}

.aboutP-contacts__cooprText {
  @include fontz('Montserrat', 400, 15px, normal);
}

.aboutP-contacts__table {
  margin-top: 40px;
}

.aboutP-contacts__table-row {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-bottom: 20px;
}

/// insts works styles

.abtP-instWorks {
  background-color: $mBlack;

  .instsWorks-btn {
    border: 1px solid #fff;
    background: inherit;
  }

  .inst-link__block {
    background-color: inherit;
    color: #fff;
  }
}