.custom-lr__section {
  position: relative;
}

.custom-lr__sec-wrap {
  display: grid;
}

.custom-lr__sec-bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 45%;
}

.custom-lr__sec-bg.isHalf {
  width: 50%;
  left: 50% !important;
}

.tabletTrue {
  left: 60% !important;
}

.custom-lr__sec-info__block {
  padding: 90px $gutter;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-lr__sec-info {
  display: flex;
  flex-direction: column;
}

.custom-lr__sec-title__clone {
  z-index: 10;
  color: #fff;
  @include fontz('Montserrat', 600, 20px, normal);
}

.custom-lr__sec-title {
  @include fontz('Montserrat', 600, 20px, normal);
  margin-bottom: 20px;
}

.custom-lr__sec-text {
  @include fontz('Montserrat', 400, 16px, normal);

  span {
    display: block;
    margin-bottom: 10px;
  }
}

.custom-lr__sec-btn {
  margin-top: 20px;
  width: 180px;
}

.overlay-shadow {
  display: none;
  padding: 100px $gutter;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(113.14deg, #000000 0%, rgba(0, 0, 0, 0.01) 64.97%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

// SAME CUSTOM SECTION WITH CUSTOM CONTENT

.custom-content__lr-section {
  min-height: 450px;
}

.custom-content__lr-section__wrap {
  display: grid;
  min-height: 450px;
}

.custom-content__lr-section__bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.custom-content__lr-section-info__content {
  min-height: 450px;
}

.custom-content__lr-section-info__block {
  height: 100%;
  padding: 50px $gutter;
}

.custom-container {
  max-width: 800px;
  margin: 0 auto;
}

.custom-content__lr-section-info__content {

}