.custom-adv-list__block {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.custom-adv__list-item{
  display: flex;
  justify-content: end;
}

.custom-adv-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gutter;
}

.custom-adv__list-item__content {
  display: inline-block;
  width: 90%;

  .custom-adv__list-item__img-block {
    margin-bottom: 15px;
    align-self: start;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.custom-adv__list-item__title {
  @include fontz('Montserrat', 600, 20px, normal);
}

.custom-adv__list-item__text {
  margin-top: 15px;
  max-width: 80%;
  @include fontz('Montserrat', 400, 15px, normal);
}

.custom-adv__list-item__list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.custom-adv__list-item__list-item {
  margin-left: 18px;
  list-style: disc;
  @include fontz('Montserrat', 400, 18px, normal);
}