@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-SemiBold.woff");
  font-style: normal;
  font-weight: 600;
}


@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Black.woff");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-ExtraBold.woff");
  font-style: normal;
  font-weight: 700;
}


@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}