@import './fonts.scss';
@import './vars.scss';
@import './mixins&patterns.scss';
@import './header.scss';
@import '~scss-reset/reset.css';

.container {
  max-width: 1440px;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

*[data-r] {
  margin-right: 20px;
}

*[data-b] {
  margin-bottom: 20px;
}

html.scroll-active {
  body {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}

html.scroll-active{
  position: relative;
  overflow: hidden;

  body {
    position: relative;
    overflow: hidden;
  }
}

html.scroll-active {
  body {
    position: fixed;
    overflow: hidden;
  }
}

html,body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

@import './queries/header-media.scss';