@import './fonts.scss';
@import './vars.scss';
@import './mixins&patterns.scss';
@import '~scss-reset/reset.css';

@import './header.scss';
@import './footer.scss';
@import './section1.scss';
@import './section2.scss';
@import './section3.scss';
@import './section4.scss';
@import './section5.scss';
@import './section6.scss';
@import './section7.scss';
@import './section8.scss';
@import './section9.scss';

@import './customInput.scss';

.container {
  max-width: 1440px;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

*[data-r] {
  margin-right: 20px;
}

*[data-b] {
  margin-bottom: 20px;
}

.title-black {
  @extend %section-title;
  color: #000;
}

.title-white {
  @extend %section-title;
  color: #fff;
}

html.scroll-active {
  body {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}

html.scroll-active{
  position: relative;
  overflow: hidden;

  body {
    position: relative;
    overflow: hidden;
  }
}

html.scroll-active {
  body {
    position: fixed;
    overflow: hidden;
  }
}

html,body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 767px) {
  html.scroll-active {
    body {
      padding-right: 17px;
    }
  }
}

@media screen and (max-width: 767px) {
  .title-black {
    font-size: 24px !important;
  }

  .title-white {
    font-size: 24px !important;
  }
}

@media screen and (min-width: 2000px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 2500px) {
  .container {
    max-width: 2000px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 3000px) {
  .container {
    max-width: 2500px;
    margin: 0 auto;
  }
}

@import './queries/header-media.scss';
@import './queries/section1-media.scss';
@import './queries/section2-media.scss';
@import './queries/section3-media.scss';
@import './queries/section4-media.scss';
@import './queries/section5-media.scss';
@import './queries/section6-media.scss';
@import './queries/section7-media.scss';
@import './queries/section8-media.scss';
@import './queries/section9-media.scss';
@import './queries/footer-media.scss';