.workway-section {
  position: relative;
}

.workway-section__body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}

.workway-mContent__body {
  display: flex;
  justify-content: end;
  background-color: $mBlack;
  width: 100%;
}

.workway-sectionBg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  img {
    height: 25%;
  }

  img.hiddenImg {
    display: none;
  }
}

.workway-content-upperBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mBlack;
  width: 100%;
  .container {
    height: 100%;
  }
}


.workway-content-upperBlock__body {
  .container {
    height: 100%;
  }
}

.workway-content {
  padding: 40px $gutter;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.workway-stages-block {
  margin-top: 50px;
}

.workway-title {
  align-self: end;
  @extend %section-title;
  color: #fff;
}

.main-workway__btn {
  width: 220px;
  align-self: start;
}