@media screen and (max-width: 767px) {
  .furniture-page__workway-sec__body {
    grid-template-columns: 1.7fr 1.9fr;
  }
}

@media screen and (max-width: 520px) {
  .furniture-page__workway-sec__body {
    grid-template-columns: 1fr;
  }

  .furniture-page__workway-list__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

