@media screen and (min-width: 480px) {
  .portfolio-work__head-bg, .portfolio-work__head-overlay {
    display: block;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-work__head-section {
    height: 100%;
  }

  .portfolio-work__details-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-work__details-main__img-block {
    display: flex;
    justify-content: end;
    grid-column: 2/3;
    margin-top: 0;

    img {
      height: 230px;
      width: 80%;
    }
  }

  .portfolio-work__details-info {
    margin-top: 0;
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 767px) {
  .portfolio-work__head-section {
    margin-top: 20px;
    min-height: 754px;
    height: 0;
  }

  .portfolio-work__details-block {
    padding: 50px $gutter;

    .portfolio-work__details-titles__group {
      padding: 0;
    }

    .portfolio-work__details-info {
      padding: 0;
    }
  }

  .portfolio-work__details-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter;
  }

  .portfolio-work__details-main__img-block {
    display: flex;
    grid-column: 2;
    grid-row: 1/3;
    justify-content: end;
    margin-top: 0;

    img {
      height: 460px;
      width: 400px;
    }
  }
}

@media screen and (min-width: 767px) {
  .portfolio-work__form-section {
    display: flex;
    align-items: center;

    .container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 996px) {
  .portfolio-work__head-section {
    min-height: 600px;
  }

  .portfolio-work__mainGallery-list__item {
    height: 400px;
  }

  .portfolio-work__secondGallery-list__item {
    height: 600px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-work__form-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .portfolio-work__form-block {
      grid-template-columns: 1fr;
    }

    .portfolio-work__form-text__group {
      margin-bottom: 40px;
    }
  }


  .portfolio-work__mainGallery-list__block {
    padding: $gutter;
    grid-template-columns: 1fr;

    .portfolio-work__mainGallery-list__item {
      height: 500px;
    }
  }

  .portfolio-work__secondGallery-list__block {
    padding: $gutter;
    grid-template-columns: 1fr;

    .portfolio-work__secondGallery-list__item {
      height: 800px;
    }
  }
}

@media screen and (max-width: 480px) {
  .portfolio-work__details-block {
    background: $mBlack;
  }

  .portfolio-work__mainGallery-list__block {
    padding: $gutter 0;

    .portfolio-work__mainGallery-list__item {
      height: 400px;
    }
  }

  .portfolio-work__secondGallery-list__block {
    padding: $gutter 0;

    .portfolio-work__secondGallery-list__item {
      height: 400px;
    }
  }
}