@media screen and (max-width: 767px) {
  .custom-content__lr-section__bg-bottom-active {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }

  .custom-content__lr-section__wrap {
    grid-template-columns: 100% !important;

    .custom-content__lr-section-info__block {
      grid-column: 1 !important;
    }

    .custom-content__lr-section__bg {
      height: 350px;
      grid-row: 2;
    }
  }

  .custom-lr__sec-wrap__active-antSt {
    grid-template-columns: 1fr !important;

    .custom-lr__sec-bg {
      left: 0 !important;
      position: relative;
      background-size: cover;
      height: 300px;
      width: 100%;
    }

    .custom-lr__sec-info__block {
      grid-row: 2;
    }
  }

  .custom-lr__sec-bg {
    width: 40%;
  }
}

@media screen and (min-width: 580px) {
  .custom-lr__sec-bg {
    position: absolute;
  }
}

@media screen and (max-width: 580px) {


  .custom-lr__sec-wrap {
    grid-template-columns: 1fr !important;
  }

  .custom-lr__sec-bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .custom-lr__sec-bg {
    height: 250px;
  }
}
