@media screen and (max-width: 1050px) {
  .header-list__block {
    margin-left: 10px !important;
  }

  .header-btn {
    margin-right: 10px;
  }
}

@media screen and (max-width: 996px) {
  .header-list__block {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .header-menu__block {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    max-width: 120%;
    margin-right: 00px;
    top: 0;
  }

  .header-btn {
    width: 170px;
  }

  .header-address {
    font-size: 12px;
    margin-right: 10px;
  }

  .header-menu {
    width: 100%;
    height: 100%;
  }

  .desktopDD {
    display: none;
  }

  .tabletDD {
    min-width: 100%;
  }

  .header-menu {
    height: calc(100% - 82px);
    padding: $gutter;
    top: 82px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 580px) {


  .header-btn {
    display: none;
  }

  .header-address {
    font-size: 9px;
    color: #7E7E7E;
  }


  .headerL-part {
    width: 100%;
    justify-content: end;
  }
}

@media screen and (max-width: 480px) {
  .header-menu {
    grid-template-columns: 1fr;
  }

  .header-menu__list {
    align-self: end;
  }

  .header-menu__list-items__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}