@media screen and (min-width: 1600px) {
  .services-page__form-bg {
    height: 800px;
  }
}

@media screen and (max-width: 996px) {
  .redevelopmentP-advList__block {
    padding: 60px 0px;
  }

  .decorationPage-pBlock {
    padding: 60px 0px;
  }

  .spage-authC__subInfo-block {
    justify-content: space-between;
    flex-direction: column;
  }

  .spage-authC__subInfo-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gutter;
  }

  .spage-authC__subInfo-list {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .services-page__form-bg {
    display: none;
  }
  
  .decorationPage-pBlock__dec-S__sq {
    font-size: 16px;
  }

  .decorationPage-pBlock__subTitle {
    font-size: 16px;
  }

  .decorationPage-pBlock__dec-S__text {
    font-size: 14px;
  }

  .redevelopmentP-advList__item {
    font-size: 16px;
  }

  .decorationPage-pBlock {
    align-items: center;
  }

  .redevelopmentP-advList__block {
    align-items: center;
  }

  .services-page__serv-list__wrap {
    grid-template-columns: 1fr;
  }

  .services-page__serv-list__overlay {
    position: absolute;
    background: linear-gradient(113.14deg, #000000 0%, rgba(0, 0, 0, 0.01) 64.97%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .services-page__serv-list__bg {
    position: relative;
    width: 100%;
    height: 355px;
    grid-row: 1;
    background-position: 48.5%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 140px 50px;

    img {
      display: none;
    }
  }

  .services-page__second-main__title {
    display: block;
    z-index: 10;
  }

  .services-page__main-title {
    display: none;
  }

  .services-page__form-bg {
    display: none;
  }

  .services-page__form-wrap {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .services-page__form {
    max-width: 350px;
  }

  .services-p__form-btn {
    width: 220px;
    font-size: 14px;
  }

  .custom-lr__sec-btn {
    font-size: 14px;
  }

  .benefits-list__block {
    width: 100%;
  }

  .main-services-page__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 580px) {
  .main-services-page__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .spage-authC__subInfo-list {
    grid-template-columns: 1fr;
  }

  .services-page__serv-list__bg {
    height: 350px;
  }

  .decorationPage-pBlock__btn {
    padding: 15px 0;
    width: 270px;
  }
}